*.pyc
__pycache__
cache
.log.swp
etc/data/archive
etc/data/confidential_data
etc/data/projection_data
etc/data/raw_nz*
etc/data/raw_wellington*
etc/data/raw_data*
etc/data/raw_tonga*
etc/data/test_data*
!etc/data/test_data_latest
etc/route_model/slurm_jobs
etc/route_model/agents_movement_output*
etc/route_model/agents_movement_single*
build
cache
dist
*.egg-info
.eggs*
.vscode
log
package-lock.json
test*
